<head>
    <link href="../styles/footer-style.css" rel="stylesheet"/>
</head>
<div class="row page-footer">
    <div class="col-md-4 col-md-offset-4 col-xs-12 social-container">
        <a href="https://twitter.com/marwoodsfall" target="_blank">
            <img class="footer-icon" src="../resources/icons/twitter-rounded.png" alt="Twitter"/>
        </a>
        <a href="http://facebook.com/MarwoodsFall" target="_blank">
            <img class="footer-icon" src="../resources/icons/facebook-rounded.png" alt="Facebook"/>
        </a>
        <a href="http://instagram.com/MarwoodsFall" target="_blank">
            <img class="footer-icon" src="../resources/icons/instagram-rounded.png" alt="Instagram"/>
        </a>
    </div>
    <div class="col-md-4  col-xs-12">
        <span class="copyright-text">
            <span class="special-char">&copy;</span>
            <script>
            $(document).ready(function() {
            var date = new Date()
            $('.copy-year').text(date.getFullYear())
        })
            </script>
            <img class="footer-logo" src="../resources/images/logo-name-only.png"> <span class="copy-year">2016</span>
        </span>
    </div>
</div>
