<head>
    <link href="../styles/nav-style.css" rel="stylesheet"/>
</head>
<div class="row nav-row">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="home.html">
            <img class="brand-logo" alt="Marwood" src="../resources/images/logo-black-xs.png">
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="custom-nav-item">
                <a href="home.html">Home</a>
            </li>
            <li class="custom-nav-item">
                <a href="about.html">About</a>
            </li>
            <li class="custom-nav-item">
                <a href="music.html">Music</a>
            </li>
            <li class="custom-nav-item">
                <a href="shows.html">Shows</a>
            </li>
            <li class="custom-nav-item">
                <a href="media.html">Media</a>
            </li>
        </ul>
    </div>
</div>
