.nav-wrapper {
    height: 60px;
}

.navbar {
    background-color: #FFFFFF;
    border-radius: 0;
    font-size: 28px;
    border: none;
    border-bottom: 1px solid #000000;
    margin-bottom: 0;
}

.custom-nav-item {
    height: 60px;
}

.custom-nav-item:hover {
    color: #FFFFFF;
    background-color: #000000;
}

.navbar-default .navbar-nav>li>a {
    color: #000000;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a:focus {
    color: inherit;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    text-decoration: underline;
}
