body {
    font-family: ailerons, sans-serif;
}

.page-container {
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
}

/*.judgement-banner {
    height: 100%;
    background-image: url('../resources/images/judgement.png');
    background-size: cover;
    background-repeat: no-repeat;
}*/

.judgement-banner .text {
  color: #FFFFFF;
}

.judgement-photo {
    width: 100%;
}

.music-info,
.music-player {
    padding: 20px;
}

.music-item {
    text-align: left;
}

.social-item,
.music-item {
    margin: 0 15px;
}

.panel-black {
    color: #FFFFFF;
    background-color: #000000;
}

.bandsintown-wrapper {
    padding: 20px 40px;
}

.sign-up-panel {
    padding: 20px;
}

.sign-up-frame {
    border: 3px solid #DDDDDD;
}

/*About*/
.bio-text {
    font-family: Avenir next, sans-serif;
    text-align: justify;
}

@media (max-width: 549px) {
    .judgement-banner {
        /*height: 250px;*/
    }

    .judgement-banner .text {
        /*margin-top: 200px;*/
        font-size: 2em;
        letter-spacing: 0.2em;
    }

    .music-player {
        border-top: 1px solid #000000;
    }

    .music-item,
    .social-item {
        display: inline;
        margin: 40px;
    }

    .music-icon,
    .social-icon {
        height: 45px;
        width: 45px;
    }

    .show-dates {
        border-top: 1px solid #FFFFFF;
    }
}

@media (min-width: 550px) {
    .judgement-banner {
        /*height: 350px;*/
    }

    .judgement-banner .text {
        /*margin-top: 250px;*/
        font-size: 3em;
        letter-spacing: 0.3em;
    }

    .music-player {
        border-left: 1px solid #000000;
    }

    .music-item,
    .social-item {
        display: inline-block;
    }

    .music-icon,
    .social-icon {
        height: 60px;
        width: 60px;
    }

    .music-item,
    .social-item {
        width: 60px;
    }

    .bandsintown-wrapper {
        color: #000000;
    }
}

@media (min-width: 992px) {
    .judgement-banner {
        /*height: 500px;*/
    }

    .judgement-banner .text {
        /*margin-top: 400px;*/
        font-size: 4em;
        letter-spacing: 0.4em;
    }

    .music-item,
    .social-item {
        width: 80px;
    }
}




/*********/
.success-banner {
    margin: 30px auto 0 auto;
    height: 80px;
}

@media (min-width: 550px) {
    div.contact-us {
        margin-top: 10px;
    }

    div.row-5-left,
    div.row-5-center {
        margin-bottom: 60px;
    }
}

@media (max-width: 549px){

    div.music-list-panel {
        border-left: none;
        border-bottom: 1px solid #000000;
    }

    ul.music-list,
    ul.social-list {
        margin: 20px auto;
    }

    div.contact-us {
        margin-top: 10px;
    }

    div.row-5-center {
        border: none;
        background-color: white;
        color: black;
        margin: 20px auto;
        padding: 1px;
        height: 120px;
    }

    h1.row-5-header {
        border: none;
    }

    div.row-5-center a.contact-link {
        color: #000000;
        font-size: 16px;
        text-decoration: none;
    }

    div.row-5-center a.contact-link:hover {
        padding: 5px;
        background-color: #000000;
        color: #ffffff;
    }

    div.page-footer {
        margin-top: 10px;
    }


}

@media (min-width: 992px) {
    div.row-3-right {
        border-left: 1px solid #ffffff;
    }

    div.music-list-panel {
        border-right: 1px solid #000000;
    }

    div.row-5-center {
        border-left: 1px solid #000000;
        border-right: 1px solid #000000;
    }

    h1.row-5-header {
        border-bottom: 1px solid #ffffff;
    }

    div.contact-us {
        margin-top: 40px;
    }
}

img.band-name {
    height: auto;
    opacity: 1;
}

div.logo {
    margin: 10px auto;
    z-index: 2;
}

img.logo-img {
    height: auto;
    opacity: 1;
}

div.footer {
    margin: 0 auto;
}

h1.album,
h1.release {
    height: auto;
    opacity: 1;
}

div.row-2,
div.row-3,
div.row-4,
div.row-5,
img.bandsintown-logo,
img.bandsintown-logo:hover {
    padding: 5px;
}

div.row-2,
div.row-3 {
    text-align: center;
    visibility: visible;
}

div.row-2,
div.row-4 {
    color: #222222;
    background-color: #ffffff;
}

div.row-3,
div.row-5 {
    background-color: #000000
}

h1.signup {
    margin: 20px auto 50px;
}

h2.signup {
    line-height: 1.5em;
}

iframe.sign-up-frame {
    width: 100%;
    height: 350px;
    margin-top: 10px;
}

h1.row-3-header {
    padding-bottom: 15px;
    border-bottom: 1px solid #ffffff;
}

div.bandsintown-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
}

img.bandsintown-logo:hover,
img.social-icon:hover {
    box-shadow: 0px 0px 5px 5px #ffffff;
}

img.bandsintown-logo {
    width: 300px;
}

div.music-player-panel,
div.music-list-panel {
    padding: 20px;
}

iframe.soundcloud-player {
    width: 100%;
    height: 300px;
}

h1.music-list {
    padding-bottom: 10px;
    border-bottom: 1px solid #ffffff;
}

ul.music-list,
ul.social-list,
ul.attribution-list {
    list-style: none;
    padding: 0;
}

ul.music-list,
ul.social-list {
    margin-top: 30px;
}


img.music-icon {
    padding: 5px;
}

img.social-icon,
img.music-icon {
    background-color: #ffffff;
}

img.music-icon:hover {
    box-shadow: 0px 0px 5px 5px #000000;
}

span.list-text {
    font-size: 24px;
    width: inherit;
}

h1.row-4-header {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000000;
}

li.attribution-item {
    margin: 10px;
}

span.attribution-text {
    font-family: sans-serif;
}

h1.row-5-header {
    margin-top: 20px;
    padding-bottom: 10px;
}

a.contact-link {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
}

a.contact-link,
span.special-char {
    font-family: sans-serif;
}

a.contact-link:hover {
    padding: 5px;
    background-color: #ffffff;
    color: #000000;
}

div.page-footer {
    color: #000000;
    background-color: #ffffff;
    padding: 10px 0;
}

span.attribution-text,
span.copyright-text {
    padding-bottom: 10px;
}

span.attribution-text {
    font-size: 16px;
}

a.footer-link {
    padding: 0 5px 5px 5px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
}

a.footer-link:hover {
    padding: 0 5px 5px 5px;
    background-color: #ffffff;
    color: #000000;
}

@font-face {
    font-family: 'ailerons';
    src: url('../resources/fonts/Ailerons.ttf');
}
