div.container-fluid {
    height: 700px;
    background-color: black;
    color: white;
    text-align: center;
}

.col-md-4 {
    text-align: center;
}

div.banner {
    height: 50px;
    width: 400px;
    margin: 100px auto 10px auto;
    opacity: 0;
    background-image: url('../resources/photos/banner.png');
    background-size: cover;
}

div.logo {
    width: 400px;
    height: 360px;
    margin-top: 20px;
    opacity: 0;
    border: 2px solid black;
    background-image: url('../resources/photos/logo-white-sm.png');
    background-size: cover;
}
