body {
  /*background-image: url('../resources/images/forest2.jpg');
  background-size: cover;*/
    background-color: #000000;
}

div.row-1 {
    height: 700px;
}

div.container-fluid {
    height: 700px;
    background-color: #000000;
    color: white;
    text-align: center;
}

div.banner {
    margin: 80px auto 0 auto;
    height: 100px;
}

.band-name {
    width: 500px;
    height: auto;
    opacity: 1;
}

div.logo {
    margin: 20px auto;
    z-index: 2;
}

.logo-img {
    width: 400px;
    height: auto;
    opacity: 1;
    margin-left: 80px;
}

div.footer {
    width: 600px;
    height: 50px;
    margin: 0 auto;
}

h1.album {
    font-family: ailerons, sans-serif;
    font-size: 5em;
    text: 'css';
}

div.row-2 {
    color: #222222;
    background-color: white;
    text-align: center;
    font-family: ailerons;
}

div.row-2-header {
    height: 200px;
}

h1.row-2-h1 {
    margin: 20px auto;
}

div.row-2-col {
    height: 200px;
    border: 1px solid black;
}


@font-face {
    font-family: 'ailerons';
    src: url('../resources/fonts/ailerons.ttf');
}
